## Lab2: Data types

Notes for hw:
1. make sure to commit often
2. run the code from the beginning before submitting

### Key takeaways:
1. Data types
2. Key operations on different data types
3. Check and convert the datatypes
4. Loop: Make changes at once (eg.list comprehension)

### Basic datatypes

• Numerical: int, float

• Booleans： True or False

• String

• List-like: list, set, tuple

• Dictionary

• Dates

### int&float

In [145]:
a = 1

In [146]:
b = 2.582

In [147]:
a + b

3.582

In [148]:
a * b

2.582

### boolean

In [18]:
c = True

In [ ]:
z = False

In [150]:
print(a==b) #is a equals to b?

False

### string

In [151]:
s = 'Python is fun!'

In [152]:
len(s)

14

In [46]:
t = 'Pythonisfun!'

In [153]:
len(t)

12

In [72]:
#slicing
s[0:6]

'PYTHON'

In [71]:
s[-1]

'!'

In [110]:
s[:]

'Python is fun!'

In [154]:
t + s

'Pythonisfun!Python is fun!'

In [155]:
t - s

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [95]:
s.upper()

'PYTHON IS FUN!'

In [96]:
s

'Python is fun!'

In [156]:
s = s.upper()

In [157]:
s

'PYTHON IS FUN!'

In [158]:
s.count('N')

2

In [101]:
s

'Python is fun!'

In [160]:
s = 'Python is fun!'

In [161]:
s.replace('Python','Eating')

'Eating is fun!'

In [164]:
s = s.replace('Python','Eating')
s

'Eating is fun!'

In [104]:
name = "UChicago"
country = 'USA'

In [165]:
print("%s is a great school in %s!"%(name, country))

UChicago is a great school in USA!

In [103]:
print(f"{name} is a great school in {country}.")

UChicago is a great school in USA.

In [90]:
# how to reverse the string? i.e. 'Python is fun!' to '!nuf si nohtyP'

In [74]:
# how to remove the white space? i.e. 'Python is fun!' to 'Pythonisfun'
# how to check if we have removed all the white space from a long text?

### dictionary

In [20]:
d = {'First Name': 'Meredith', 'Family Name': 'Grey', 'Age':47, 'Show': "Grey's Anatomy"}

In [169]:
len(d)

4

In [25]:
d['First Name']

'Meredith'

In [26]:
d['Age']

47

In [112]:
d.keys()

dict_keys(['First Name', 'Family Name', 'Age', 'Show'])

In [55]:
# how to add new key-value pairs to a dict, or build k-v pairs in a blank dict?

In [192]:
d2 = {}

In [193]:
d2['Name'] = 'Jeff'

In [195]:
d2['Name'] = 'Kevin'

{'Name': 'Kevin'}

### list

In [167]:
l = [a,b,c,d]

In [168]:
print(l)

[1, 2.582, True, {'First Name': 'Meredith', 'Family Name': 'Grey', 'Age': 47, 'Show': "Grey's Anatomy"}]

In [62]:
l[0]

1

In [63]:
l[-1]

{'First Name': 'Meredith',
 'Family Name': 'Grey',
 'Age': 47,
 'Show': "Grey's Anatomy"}

In [64]:
l[-1]['First Name']

'Meredith'

In [170]:
#list allows item assignment
l[-1] = 'dict gone!'

In [171]:
l

[1, 2.582, True, 'dict gone!']

In [106]:
#append new element

In [172]:
l.append('King of Python')

In [173]:
l

[1, 2.582, True, 'dict gone!', 'King of Python']

In [174]:
l.insert(2,'Nice Try!!!')

In [175]:
l

[1, 2.582, 'Nice Try!!!', True, 'dict gone!', 'King of Python']

In [176]:
del l[2]

In [177]:
l

[1, 2.582, True, 'dict gone!', 'King of Python']

In [178]:
print('Nice Try!!!' in l)

False

In [209]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'bool'

In [213]:
l5 = [1,4,2,3]
sorted(l5)

[1, 2, 3, 4]

In [214]:
l6 = ['ab','bc','apple']
sorted(l6)

['ab', 'apple', 'bc']

In [76]:
# a list of lists
l2 = [[1,2,3,4],['a','b','c','d']]

In [66]:
l2

[[1, 2, 3, 4], ['a', 'b', 'c', 'd']]

In [179]:
len(l2)

2

### tuple

In [180]:
x = (1,1,1,2,3)

In [181]:
type(x)

tuple

In [182]:
x[0]

1

In [183]:
x[0] = 'I want to change the tuple at index0'

TypeError: 'tuple' object does not support item assignment

### set: set() or {}

In [184]:
y = set('google')

In [185]:
y

{'e', 'g', 'l', 'o'}

In [203]:
z = {'g','o','o','g','l','e'}

In [204]:
z

{'e', 'g', 'l', 'o'}

In [207]:
num = {5,2,3,3,4}

In [208]:
num

{2, 3, 4, 5}

In [85]:
import datetime

In [86]:
my_date = datetime.datetime(2020,4,6)

In [88]:
print(my_date)

2020-04-06 00:00:00

### Check & Convert datatypes

In [80]:
type(a)

int

In [23]:
str(a)

'1'

In [82]:
a = str(a)

In [83]:
type(a)

str

In [84]:
#similarly 

int(b)

2

### Loop basics

In [126]:
l3 = [1,2,3,4,5]
l4 = [2,3,4,5,6]

In [127]:
l3[0] = l3[0]+1

In [128]:
l3

[2, 2, 3, 4, 5]

In [129]:
l3[1] = l3[1]+1

In [130]:
l3

[2, 3, 3, 4, 5]

In [188]:
len(l3)

5

In [134]:
#for loop: iterate over elements

In [135]:
l3 = [1,2,3,4,5]
l4 = [2,3,4,5,6]

In [136]:
#method1
for i in range(5):
    l3[i] = l3[i]+1

In [ ]:
l3[0] = l3[0] + 1
l3[1] = l3[1] + 1
l3[2] = l3[2] + 1
l3[3] = l3[3] + 1
l3[4] = l3[4] + 1

In [ ]:
l3

In [ ]:
l3==l4

In [139]:
l3 = [1,2,3,4,5]
l4 = [2,3,4,5,6]

In [140]:
#method2
for i in range(len(l3)):
    l3[i] += 1

In [ ]:
l3

In [142]:
l3 = [1,2,3,4,5]
l4 = [2,3,4,5,6]

In [190]:
#method3 list comprehension
l3 = [i+1 for i in l3]

In [191]:
l3

[3, 4, 5, 6, 7]