## Feedbacks on hw

1. remember to import packages
2. be sure to follow indentation standard, i.e. four white space, or use a tab
3. styling issues
4. plz edit the original .py file not copy one

In [39]:
x = True
y = 1
z = 0

In [41]:
#No error but poor styling
if x == True:
    print(y)
else:
    print(z)

1

In [43]:
#Good styling: True condition
if x:
    print(y)
else:
    print(z)

1

In [44]:
#Good styling: False condition
if not x:
    print(y)
else:
    print(z)

0

## Data manipulation

In [2]:
import pandas as pd

### merge & concat

In [10]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({
'A':[1,2,3,4],
'B':[True,False,True,True],
'C':['C1','C2','C3','C4']
})
df2 = pd.DataFrame({
'A':[5,7,8,5],
'B':[False,False,True,False],
'C':['C1','C3','C5','C8']
})

In [11]:
df1

   A      B   C
0  1   True  C1
1  2  False  C2
2  3   True  C3
3  4   True  C4

In [12]:
df2

   A      B   C
0  5  False  C1
1  7  False  C3
2  8   True  C5
3  5  False  C8

In [14]:
pd.concat([df1,df2],axis=0)

   A      B   C
0  1   True  C1
1  2  False  C2
2  3   True  C3
3  4   True  C4
0  5  False  C1
1  7  False  C3
2  8   True  C5
3  5  False  C8

In [15]:
pd.concat([df1,df2],axis=1)

   A      B   C  A      B   C
0  1   True  C1  5  False  C1
1  2  False  C2  7  False  C3
2  3   True  C3  8   True  C5
3  4   True  C4  5  False  C8

In [45]:
#merge types

<img width="623" alt="Screen Shot 2021-05-04 at 13 15 10" src="https://user-images.githubusercontent.com/32838329/116963232-d9b07400-acda-11eb-8273-786a2ba0c3cf.png">

In [46]:
pd.merge(df1, df2, how ='left', on ='C')

   A_x    B_x   C  A_y    B_y
0    1   True  C1  5.0  False
1    2  False  C2  NaN    NaN
2    3   True  C3  7.0  False
3    4   True  C4  NaN    NaN

In [47]:
pd.merge(df1, df2, how ='right', on ='C')

   A_x   B_x   C  A_y    B_y
0  1.0  True  C1    5  False
1  3.0  True  C3    7  False
2  NaN   NaN  C5    8   True
3  NaN   NaN  C8    5  False

In [48]:
pd.merge(df1, df2, how ='outer', on ='C')

   A_x    B_x   C  A_y    B_y
0  1.0   True  C1  5.0  False
1  2.0  False  C2  NaN    NaN
2  3.0   True  C3  7.0  False
3  4.0   True  C4  NaN    NaN
4  NaN    NaN  C5  8.0   True
5  NaN    NaN  C8  5.0  False

In [20]:
# merge on different keys

In [17]:
pd.merge(df1, df2, how ='inner', on ='C')

   A_x   B_x   C  A_y    B_y
0    1  True  C1    5  False
1    3  True  C3    7  False

In [18]:
pd.merge(df1, df2, how ='inner', on ='B')

   A_x      B C_x  A_y C_y
0    1   True  C1    8  C5
1    3   True  C3    8  C5
2    4   True  C4    8  C5
3    2  False  C2    5  C1
4    2  False  C2    7  C3
5    2  False  C2    5  C8

### wide to long

In [21]:
#The melt() method can be used to change from wide to long format
#The pivot() method can be used to change from the long to wide format
#Aggregations are best done from data in the long format.

In [32]:
# Load the libraries
import numpy as np
import pandas as pd
from scipy.stats import poisson
  
# We will use scipy.stats to create
# random numbers from Poisson distribution.
np.random.seed(seed = 128)
p1 = poisson.rvs(mu = 10, size = 3)
p2 = poisson.rvs(mu = 15, size = 3)
p3 = poisson.rvs(mu = 20, size = 3)
  
# Declaring the dataframe
data = pd.DataFrame({"P1":p1,
                 "P2":p2,
                 "P3":p3})
  
# Dataframe
print(" Wide Dataframe")
display(data)
  
data.melt()
  
# Change the names of the columns
wide = data.melt(var_name = ["Parking Lot"]).head()
wide  
# Specify a name for the values
print("\n Tidy Dataframe")
tidy = data.melt(var_name = "Parking Lot",
          value_name = "Count").head()
tidy

 Wide Dataframe

   P1  P2  P3
0  14  19  21
1   6  13  17
2   7  13  13

 Tidy Dataframe

  Parking Lot  Count
0          P1     14
1          P1      6
2          P1      7
3          P2     19
4          P2     13